// Styling for list items
.article-list {
	position: relative;

    .thumb {
        position: relative;
        float: left;
        width: 100px;
        height: 100px;
        margin: 0 20px 20px 0;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;

        @media #{$tablet} {
            width: 75px;
            height: 75px;
        }

        @media #{$media-bp} {
            width: 65px;
            height: 65px;
        }

        @media #{$phone} {
            width: 55px;
            height: 55px;
        }
    }

    .thumb-img{
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        @include prefix(transform, translate(-50%,-50%), webkit moz ms);
    }

    .cat-date-container {
        font-size: 0.9em;
        left: 121px;
        position: relative;
        bottom: -105px;
        width: 80%;

        @media #{$tablet} {
            left: 95px;
            bottom: -80px;
            font-size: 0.8em;
            width: 78%;
        }

        @media #{$media-bp} {
            left: 85px;
            width: 80%;
            bottom: -70px;
        }

        @media #{$phone} {
            display:none;
        }

        .date {
            float: right;
        }
    }
}

